main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #000;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-img:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}
.product-img-container{
  overflow: hidden;
  height: 200px;
  width: 100%;
}

/* .carousel {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
}
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
} */
.carousel a {
  margin: 0 auto;
}
.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  height: 65px;
  width: 65px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 2px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.floatingButton:hover {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  bottom: 25px;
}
.floatingButton .layover {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 99;
  background-color: #ffffff;
  color: #000000;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 30px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  /* display: none; */
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#phone[type=number] {
  -moz-appearance: textfield;
}

.dark .carousel-control-prev-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABg0lEQVR4nO3ZSUtCURiH8YcCo4S0UW3Apk3jqr5x+6aNNJi7tLR5HsjaNEFfwbhwBBcl9t7N/1x84F0K/jjnej0caNcucsWAVeAEyOIxYg2ouXkBJvEQsd6AqE8VmMAjxMYvCK8wMWCzCaI+D8AoonUBWy0gam7uFTHdQO4fiJqbG7eKMohtA6IGfAFxBOoBdoyIb2AFEcRuCMQyIog9I+ITWCICiEUECh7MvBHxoYTYD4FYQKB4VBAFI+IdmEegBHAQAjGH54g3JUQxBGIWgZJAyYh4BWaIAGIakQpGRHDqm0KonBESnCsyCNUb4pfqDhhBDFM0Ym7VViYRAhNsszRimFJUMEng0Ii5BlKIYY6MmDNgkIhgToEBhOoDykbMiSKmEhXMEHBuxBwD/YhhLqKCGQ6BqbhtKoW5NGLKapi0e5NbMHnEyrg/jJa3v1wp98W8PYxZtlnVhxveMeCxCeLZh8vQeuN/YLxCNGKe1C8/Wy3rVuZK7TxvqRPoMH2yHdr9AGyaJ7dcjvrWAAAAAElFTkSuQmCC');
}
.dark .carousel-control-next-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABuklEQVR4nO3YyU7DQAwGYCNOgMRSkTi/M0lp4cDy5ByQuLMfEFvFLsoiQZdD+xagsEg5UCgOEp7SX5oH+OTEnjHRMMPYDIBxEVkTkUcAi+QrAsCGiDy/n24URcvkIWIzh8hjlsgjxNYniI/TMY/BG2L7C8TrAdB2zi2QxTDzRD+IPCZJknmyFhFZ7xeRO01mrpClAFhVQLLTYOY5shLn3FiPTuVfZfB9x/o3mIapzwx9tmGfMDsaDIAH51xMlmaLiOwqMfcWMXtaTJIkQgOCuTOFKZVKkwAOlZjbNE1BVlKtVqcGDXOkbM31IAgisoQRkeOBwJTL5WktBsAFgFmyEudcCcCZsjI1IhohQ51sX1mVNhGNWvnpD5TV6DLziu+Ijom1UpFZIlY2MFmn0s4QWNm8FES0zCAKzIyWibVRmqYzInKi/CeaA4EIw7D61waKoijIrhIF3u0VK4hLrxHMHBZAPJnYoDBzKCJXyu50H8ex8x7hrGxMoLyOZ09YU8sF6O5PdVPv8NzMqHlbCWXbtVcJBcY+Io/p0cFuTG1AftCOr3P/xHkGJB8TBEEE4DR71ppa3wwzDP1KXgB6huuKsp0U3gAAAABJRU5ErkJggg==');
}